body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #433A3F;
}

.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background: #7C9299;
    padding: 30px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.login-card h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #433A3F;
    border-radius: 8px;
    box-sizing: border-box;
}

.login-btn {
    width: 100%;
    padding: 12px;
    border: none;
    background: #FF595E;
    color: #433A3F;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.login-btn:hover {
    background: #f8444a;
}

.register-link {
    text-align: center;
    margin-top: 15px;
}